# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [48]:
import numpy as np

2. Create a null vector of size 10

In [3]:
v1=np.zeros(10)
v1

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [4]:
v2=np.arange(10,50)
v2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [5]:
np.shape(v2)

(40,)

5. Print the type of the previous array in question 3

In [6]:
v2.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [7]:
print("NumPy version is : ",  np.__version__)
# np.show_config()

NumPy version is :  1.19.4

7. Print the dimension of the array in question 3

In [8]:
v2.ndim

1

8. Create a boolean array with all the True values

In [9]:
a1 = np.ones(15, dtype="bool")
a1

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

9. Create a two dimensional array

In [10]:
a2 = np.arange(20).reshape(4,5)
a2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

10. Create a three dimensional array

In [11]:
a3 = np.arange(20).reshape(2,2,5)
a3

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [12]:
v3 = [1,2,3,4,5,6,7,8,9,10]
print(f"Original vector is : {v3}")

Original vector is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
v3 = v3[::-1]
print(f"Reverse vector is : {v3}")

Reverse vector is : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

12. Create a null vector of size 10 but the fifth value which is 1

In [14]:
z = np.zeros(10)
z[4] = 1
z

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [15]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [16]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [17]:
arr = np.array([1, 2, 3, 4, 5], dtype="float")
print(f"Array is : {arr} and datatype is now {arr.dtype}")

Array is : [1. 2. 3. 4. 5.] and datatype is now float64

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [18]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr1 * arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [19]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr2>arr1
# arr2+arr1

array([[False,  True, False],
       [ True, False,  True]])

17. Extract all odd numbers from arr with values(0-9)

In [20]:
a4 = np.arange(0,10)
a4[1::2]

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [21]:
a4[1::2] = -1
a4

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [22]:
a5 = np.arange(10)
a5[5:9] = 12
a5

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [23]:
z = np.ones((4,4))
z [1:-1,1:-1] = 0
print(z)

[[1. 1. 1. 1.]
 [1. 0. 0. 1.]
 [1. 0. 0. 1.]
 [1. 1. 1. 1.]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [24]:
arr2d = np.array([[1, 2, 3],[4, 5, 6], [7, 8, 9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [25]:
arr2d[1,1] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [26]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [27]:
arr3d[0] = 64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [28]:
arr2d = np.arange(0,9).reshape(3,3)
arr2d

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [29]:
arr2d[0]

array([0, 1, 2])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [30]:
arr2d[1,1]

4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [31]:
arr2d[:2, 2:]

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [32]:
a6 = np.random.randn(10,10)
a6

array([[ 1.08222192,  1.47330304, -0.22876556, -0.06184197,  0.28605119,
        -1.00171726,  0.13064498,  1.25463687,  0.24693581,  1.05522433],
       [-0.118656  , -0.29282027,  0.88479414, -0.81437071,  0.39027188,
        -0.38379347,  0.39375239, -1.54591732, -0.56950648, -0.0434211 ],
       [-0.90825099,  0.08077445, -0.0553358 ,  0.51149704, -0.55639436,
         1.07116787,  1.61091509, -0.10572947, -0.06921756,  0.5150666 ],
       [ 0.59540294,  1.28637504,  0.33993483,  0.85696719,  0.86987398,
         0.20991921,  0.19158356,  1.2414887 , -0.03618289, -0.11944204],
       [ 0.56757261,  0.930761  , -0.49757575, -0.54780665,  0.40624464,
        -0.10154453, -0.3569825 ,  1.34581995,  0.89699786,  1.05488107],
       [ 2.18076958,  0.96102642, -0.51800769, -0.49612608,  1.45225427,
         0.15230501,  0.71904654, -0.10673952,  0.0927556 ,  1.14646501],
       [-0.6850922 , -0.15363096, -0.84925269, -0.9766385 ,  2.25131345,
         0.64057988, -1.12025986, -0.05401975, -0.23687336,  0.09008717],
       [-1.64610319,  1.36546688,  0.5156254 , -1.98524667, -2.1512924 ,
         0.32152912, -1.07477313, -1.5070153 ,  0.509765  , -0.57837481],
       [ 0.55870163, -1.76392711, -1.95209615, -1.5998169 ,  1.6115171 ,
         0.19700099, -0.25114217, -0.63039679, -0.82853517, -0.73566861],
       [ 0.51055141,  0.18361348,  0.2703249 ,  0.70964494,  0.13604148,
         0.27997399,  0.71867797, -0.37052238, -0.61528279, -1.473117  ]])

In [33]:
# print(f" The Minimum value of array is {a6.min()} and maximum value is {a6.max()}" )
print(f" The Minimum value of array is {np.min(a6)} and Maximum value is {np.max(a6)}" )

 The Minimum value of array is -2.1512923978461744 and Maximum value is 2.2513134479644235

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [34]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [35]:
np.where(np.in1d(a,b))

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [36]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[~(names == 'Will')]
# data[names!='Will']

array([[-0.11195731, -0.43513964, -0.68676909, -0.67403088],
       [-0.12264444,  0.13679318, -0.71087902, -0.53245048],
       [ 0.38126075,  0.39426339,  0.25510016, -0.74182231],
       [-3.90538187, -1.21431371,  0.91976261,  1.02092011],
       [ 1.74349613,  0.0351176 ,  0.72542101, -0.51342765]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [37]:
data[((names!='Will') & (names!='Joe'))]

array([[-0.11195731, -0.43513964, -0.68676909, -0.67403088],
       [ 0.38126075,  0.39426339,  0.25510016, -0.74182231]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [38]:
a7 = np.arange(1,16,dtype=np.float32).reshape(5,3)
a7

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 7.,  8.,  9.],
       [10., 11., 12.],
       [13., 14., 15.]], dtype=float32)

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [39]:
a8 = np.arange(1,17,dtype=np.float32).reshape(2,2,4)
a8

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.]],

       [[ 9., 10., 11., 12.],
        [13., 14., 15., 16.]]], dtype=float32)

33. Swap axes of the array you created in Question 32

In [40]:
a8.T
# a8.swapaxes(1,2)

array([[[ 1.,  9.],
        [ 5., 13.]],

       [[ 2., 10.],
        [ 6., 14.]],

       [[ 3., 11.],
        [ 7., 15.]],

       [[ 4., 12.],
        [ 8., 16.]]], dtype=float32)

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [41]:
a9 = np.linspace(0, 1, 10)
print(a9)
sq = np.sqrt(a9)
print(sq)
np.where(sq < 0.5 , 0 , sq)

[0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]
[0.         0.33333333 0.47140452 0.57735027 0.66666667 0.74535599
 0.81649658 0.8819171  0.94280904 1.        ]

array([0.        , 0.        , 0.        , 0.57735027, 0.66666667,
       0.74535599, 0.81649658, 0.8819171 , 0.94280904, 1.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [42]:
ar1=np.random.randn(12)
ar2=np.random.randn(12)
ar_max=np.maximum(ar1,ar2)
ar_max

array([ 1.91773408,  1.06236264, -0.08516445,  0.56426673,  1.12058596,
       -0.07844661, -1.38473175,  0.19475746,  2.11477247,  2.3843533 ,
       -0.18471094,  0.76900456])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [43]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
u = np.unique(names)
print(np.sort(u))

['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [44]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
np.setdiff1d(a,b)

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [45]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
sampleArray[::,2] = newColumn
sampleArray

array([[34, 43, 10],
       [82, 22, 10],
       [53, 94, 10]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [46]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
x.dot(y)
# np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [47]:
a20=np.random.randn(20)
np.cumsum(a20)

array([1.52593753, 4.21897298, 3.58758584, 4.14780155, 4.09628587,
       5.36859269, 5.73813184, 4.24580128, 2.95244106, 3.22382312,
       2.55483982, 3.54400091, 4.39879666, 3.77144152, 2.83994182,
       3.68357225, 5.7533069 , 4.54491781, 5.63257573, 5.06732309])